*{
	margin: 0;
	padding: 0;
}

body{
	width:100%;
	height: 100%;
	text-align: center;
}

hr{
	width: 50px;
	border-color: #08e8e8;
	margin: auto;
	opacity: 0.5;
}

hr.light{
	border-color: #C0C0C0;
}

hr.dark{
	border-color: #28014e;
}

button{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	padding: 10px 15px;
	background: transparent;
	margin-top: 30px;
	margin-bottom: 60px;
	font-weight: 700px;
	border: 1px solid #0ad4d4;
}

button a{
	color: #0ad4d4;
	font-size: 15px;
	text-decoration: none;
}

#container{

}

#navigation{
	height: 70px; 
	margin: auto;
}

#logo img{
	position: absolute;
	top: 10px;
	left: 300px;
}


#nav-menu{
	clear: both;
}

.nav-menu{
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;

}

.nav-menu a{
	float: right;
	padding: 20px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}

.nav-menu a:hover{
	color: #08e8e8;
}

.nav-menu a:active{
	color:#08e8e8;
}

#header{
	position: relative;
    width: 100%;
    height: 800px;
	background-image: url("../img/backgr/backgr1.png");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin:0;
}

#header-content{
	width: 1200px;
	margin: auto;

}

#header-content h1{
	font-family: 'Playfair Display', serif;
	font-size: 35px;
	color: #fff;
	padding: 30px;
	padding-top: 200px;
}

#header-content p{
	font-family: 'Hammersmith One Regular', sans-serif;
	font-weight: 100;
	font-size: 15px;
	line-height: 1.6em;
	opacity: 0.7;
	color: #E0E0E0;
	padding: 30px;
	width: 800px;
	margin: auto;
}

#dots img{
	padding-top: 100px;
}

#about-content{
	width: 1200px;
	margin: auto;
	clear: both;
}

#about-content h1{
	text-transform:uppercase;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}

#about-content .box{
	padding: 30px;
	text-align: left;
}

#about-content .box .pic{
	float: left;
	width: 30%;
	padding: 70px;
}

#about-content .box .pic img{
	padding-left: 50px;
}

#about-content .box h1{
	color: #28014e;
}

#about-content .box p{
	padding: 30px;
	padding-right: 50px;
	font-family: 'Hammersmith One Regular', sans-serif;
	font-weight: 100;
	font-size: 15px;
	line-height: 1.6em;
	opacity: 0.7;
	color: #28014e;
}

#video{
	position: relative;
    width: 100%;
    height: 500px;
	background-image: url("../img/backgr/backgr2.png");
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin:0;
}

#video-content{
	width: 1200px;
	margin: auto;
}

#video-content .box{
	padding-top: 150px;
	padding-bottom: 20px;
}

#video-content h1{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #fff;
	text-transform:uppercase;
}

#expertise-content{
	width: 800px;
	height: 730px;
	margin: auto;
	clear: both;
}

#expertise-content h1{
	text-transform:uppercase;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: #28014e;
	font-weight: bolder;
	padding-top: 40px;
	padding-bottom: 20px;
}

#expertise-content .boxes h1{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	padding-top: 0px;
}

#expertise-content p{
	font-size: 15px;
	padding-bottom: 20px;
	color: #28014e;
}

#expertise-content .boxes{
	clear: both;
	padding-top: 30px;
}

#expertise-content .boxes .box{
	width: 33.3333%;
	padding-top: 40px;
	padding-bottom: 40px;
	float: left;
}

#expertise-content .boxes .box p{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding: 20px;
	padding-top: 0px;
	padding-right: 20px;
	padding-left: 20px;
}

#team{
	position: relative;
    width: 100%;
    height: 650px;
	background-image: url("../img/backgr/backgr3.png");
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin:0;
}

#team-content{
	width: 1200px;
	margin: auto;
}

#team-content h1{
	text-transform:uppercase;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: #fff;
	padding-top: 70px;
	padding-bottom: 15px;
}

#team-content h2{
	color: #fff;
	font-size: 20px;
	opacity: 0.7;
	padding-bottom: 20px;
	font-weight: 300;
}

#team-content p{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-top: 30px;
}

#team-content .boxes{
	clear: both;
	height: 250px;
	width: 900px;
	margin: auto;
	padding: 30px;

}

#team-content .boxes .box{
	float: left;
	width: 190px;
	height: 200px;
	padding: 15px;
}

#team-content .boxes .box .person{
	width: 190px;
	height: 260px;
	border: 1px solid #fff;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}

#team-content .boxes .box .person h2{
	padding-top: 10px;
	padding-bottom: 0px;
	font-weight: 700;
}

#team-content .boxes .box .person p{
	padding-top: 0px;
	font-weight: 100;
}

#team-content .boxes .box .pic{
	width: 190px;
	height: 200px;
	background: #fff;
}

#works{
	height: 700px;
}

#works-content{
	width: 800px;
	margin: auto;
}

#works-content .box{
	float:left;
	width: 50%;
	height: 130px;
}

#works-content .box h1{
	text-transform:uppercase;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: #28014e;
	font-weight: bolder;
	padding-top: 60px;
	text-align: left;
}

#works-content .box p{
	padding-top: 65px;
}

#works-content .box p a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:#28014e;
}

#works .pic{
	margin:auto;
}

#works .pic img{
	width: 100%;
}

#works button{
	margin-top: 60px;
}

#people{
	position: relative;
    width: 100%;
    height: 600px;
	background-image: url("../img/backgr/backgr5.png");
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin:0;
}

#people-content{
	width: 800px;
	margin: auto;
}

#people-content .box{
	padding-top: 100px;
	padding-bottom: 50px;
}

#people-content .quotation{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color: #fff;
	opacity: 0.7;
	padding: 30px;
	padding-top: 0px;
	padding-bottom: 70px;
}

#people-content h1{
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}

#people-content p{
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #fff;
	padding-bottom: 50px;
	font-weight: 100;
}

#people-content .pic img{
	padding: 5px;
}

#say{
	width: 100%;
	height: 650px;
}

#say-content{
	width: 1200px;
	margin: auto;
}

#say-content .boxes{
	clear: both;
}

#say-content .boxes .box{
	float: left;
	width: 600px;
	height: 600px;
	text-align: left;
}

#say-content .boxes .box h1{
	text-transform:uppercase;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: #28014e;
	font-weight: bolder;
	padding-top: 40px;
	padding-left: 40px;
}

#say-content .boxes .box form{
	padding: 40px;
	text-align: left;
}

#say-content .boxes .box form input{
	width: 450px;
	height: 30px;
	padding: 8px;
	padding-left: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	border: 1px solid rgba(0, 0, 0, .2)
}

#say-content .boxes .box form textarea{
	width: 450px;
	padding: 12px;
	padding-left: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	border: 1px solid rgba(0, 0, 0, .2)
}

#say-content .boxes .box form #button-submit input{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	background: transparent;
	margin-top: 20px;
	border: 1px solid #0ad4d4;
	width: 100px;
	height: 40px;
	color: #0ad4d4;
}

#say-content .boxes .box .boxes{
	clear: both;
	padding-left: 40px;
	padding-top: 20px;
}

#say-content .boxes .box .boxes .pic{
	float: left;
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#contact{
	position: relative;
    width: 100%;
    height: 400px;
	background-image: url("../img/backgr/backgr6.png");
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin:0;
}

#contact-content{
	width: 1200px;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 40px;
}

#contact-content .boxes{
	clear: both;
	padding: 30px;
}

#contact-content .boxes .box{
	float: left;
	width: 380px;
}

#contact-content .boxes .box #logo{
	position: absolute;
	top: 80px;
	left: -30px;
}

#contact-content .boxes .box .text{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #fff;
	width: 300px;
	text-align: left;
	opacity: 0.7;
	padding-top: 80px;
}

#contact-content .boxes .box h1{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	padding-bottom: 30px;
	text-align: left;
}

#contact-content .boxes .box p{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #fff;
	width: 300px;
	text-align: left;
	opacity: 0.7;
}

#contact-content .boxes .box .conts{
	clear: both;
}

#contact-content .boxes .box .conts .cont{
	float: left;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	opacity: 0.7;
	padding-bottom: 20px;
	text-align: left;
	padding-right: 5px;
}

#contact-content .boxes .box .pics{
	text-align: left;
}

#contact-content .boxes .box .pics img{
	padding: 2px;
}

#contact-content .boxes .box .conts form input{
	width: 150px;
	padding: 12px;
	background: transparent;
	padding-left: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	border: 1px solid #fff;
}

#footer{
	padding: 30px;
	clear: both;
}

#footer .links{
	float: left;
	width: 50%;
}

#footer .links .link{
	float: left;
	padding-right: 20px;
}

#footer .links .link a{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	padding-bottom: 30px;
	text-align: left;
	text-decoration: none;
	font-weight: 500;
}

#footer .links p{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #fff;
	padding-bottom: 30px;
	text-align: right;
	text-decoration: none;
	padding-right: 100px;
}
